/* PHASE 0: Sidebar */


.profile-picture {
    margin-top: -110px;
    position: relative;
    display: block;
    border: 1px black solid;
    border-radius: 5px;
    overflow: hidden;
}

.profile-info {
}

.profile-info > p {
    margin: 20px 0;
}

.profile-info > h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0;
}

.profile-nav {
    margin-bottom: 20px;
}
.profile-nav > ul > li{
    margin: auto;
    padding: 5px 0 5px 5px;
    font-weight: 700;
}

.profile-nav > ul > li:nth-child(n) {
    border-top: 1px grey solid;
}

.profile-nav > ul > li:last-child {
    border-bottom: 1px grey solid;
}

.online {
    display: block;
    font-weight: 700;
    position: absolute;
    top: 5px;
    left: -30px;
    padding: 5px 30px;
    transform: rotate(315deg);
    letter-spacing: 1px;
    background-color: green;
    color: white;
    box-shadow: 10px 5px 5px black;
}


