/* PHASE 0: Sidebar */


.profile-picture {
    margin-top: -110px;
    position: relative;
    display: block;
    border: 1px black solid;
    border-radius: 5px;
    overflow: hidden;
}


.profile-friends {
    list-style: none;
}

.profile-friends > li {
    float: left;
    width: 60px;
    margin: 0 0 10px 0;
}

.profile-friends > li:nth-child(3n-1) {
    margin: 0 10px 0 10px;
}


.profile-info > p {
    margin: 20px 0;
}

.profile-info > h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0;
}

.profile-nav {
    margin-bottom: 20px;
}
.profile-nav > ul > li{
    margin: auto;
    padding: 5px 0 5px 5px;
    font-weight: 700;
}

.profile-nav > ul > li:nth-child(n) {
    border-top: 1px grey solid;
}

.profile-nav > ul > li:last-child {
    border-bottom: 1px grey solid;
}

