/* PHASE 3: Forms */


.main-form {
    display: flex;
    width: 100%;
    height: auto;
}

.form-fields {
    display: flex;
    width: 540px;
    margin: 0 0 0 20px;
    background-color: #eee;
    justify-content: space-between;
    flex-flow: column;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-fields > label {
    display: block;
    margin: 15px 15px 5px 15px;
}

.form-fields > div {
    margin: 15px 0 15px 0;
}


.form-button {
    margin: 10px 5px 10px 15px;
    background-color: #0c0;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 2px #070;

}

.form-button:hover {
    background-color: goldenrod;
}

.button-alt {
    width: 50%;
    font-weight: bold;
    margin-left: 5px;
}

.button-alt:hover {
    color: red;
}


#form-title {
    padding: 2.5px;
    margin: 0 15px 0 15px;
    background-color: #fff;
    border: 1px solid #ccc;

}

#form-title:focus {
    border: 1px solid black;
}

#form-text {
    padding: 5px;
    margin: 0 15px 0 15px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#form-text:focus {
    border: 1px solid black;
}