/* PHASE 4: Posts */


.main-post {
    display: flex;
    padding: 20px 0 10px 0;
    margin: 0px 0 0px 0;
    border-top: 1px solid #ccc;
    height: auto;
}

.post-body {
    margin-left: 15px;
    width: 540px;
    height: auto;

}

.post-body > h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.footer-group {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.post-footer {
    display: flex;
    color: grey;
}

.post-footer > li {
    font-size: small;
    margin-left: 5px;
}

.post-footer > li:nth-child(n+2):before {
    content: "· ";
    padding: 0 5px;
}

.post-footer-links {
    display: flex;
}

.post-footer-links > li {
    margin-left: 10px;
}

