<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-feed">
  <a href="javascript:;" class="fetch-more">Load More?</a>
  <ul class="feed" id="test-feed">
    <li>Test</li>
  </ul>
</div>

<%= render 'tweets/form' %>
